* {
  margin: 0;
  padding: 0;
}

body {
  /*
  background-image: url(assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */

  /*backgound; color image, repeat position*/
  background: url(assets/bg-mobile.jpg) no-repeat top center/cover;
}

body * {
  font-family: 'Inter', sans-serif;
  color: white;
}

#container {
  width: 360px;
  height: 712px;
  border: 1px solid red;
  margin: 56px auto 0px;
}

#profile {
  text-align: center;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
}